{% extends 'torpedopage/base_pass_reset.html' %}

{% block title %}Olvidaste tu Contraseña??{% endblock %}

{% block content %}
<h1>Olvidaste tu contraseña??</h1>
<p>Ingresa tu dirección de email, y te enviaremos las instrucciones para restablecerla</p>

<form method="POST">
    {% csrf_token %}
    <!--<input name="email" placeholder="Email address" type="email" id="id_email"
    required="true">-->
    {{ form.as_p}}
    
    <input type="submit" value="Send me instruction!">
</form>
{% endblock %}