{% extends 'torpedopage/base_pass_reset.html' %}

{% block title %}| Olvidaste tu Contraseña??{% endblock %}

{% block content %}
<div class="col-xs-12">
    <h3>Olvidaste tu contraseña??</h3>
    <p>Ingresa tu dirección de correo electrónico y te enviaremos las instrucciones para reestablecerla.</p>
</div>
<form class="reset_contrasenna" method="POST">
    {% csrf_token %}
    <!--<input name="email" placeholder="Email address" type="email" id="id_email"
    required="true">-->
    {{ form.as_p}}

    <button class="reset_button" type="submit">Envíame el email!!</button>
</form>
<div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="cambio_contrasenna">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="cambio_contrasenna">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}