{% extends 'torpedopage/base_pass_reset.html' %}

{% block content %}
{% if validlink %}
<h3>Cambiar Contraseña</h3>
<div>
    <form class="reset_contrasenna" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="reset_button" type="submit">Cambiar Contraseña!</button>
    </form>
</div>

{% else %}
<!--el link enviado por correo electrónico ya ha sido utilizado-->
<p>
    El enlace para reestablecer la contraseña es ya no es válido.
</p>
{% endif %}
{% endblock %}