
.background_menu_user{
    background: #008f95;
}

.background_menu_user h3{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}

.background_right_user{
    background: #c44d58;
}

/* agregar torpedo sección*/

.background_right_user h2{
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: lighter;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

.background_right_user h3{
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: lighter;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

.background_right_user p{
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: lighter;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

.background_right_user form{
    text-align: center;
    
}

.background_right_user form label{
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: lighter;
    color: aliceblue;
    display: block;
}

.background_right_user form input{
    border-radius: 0.5em;
    border: none;
    color: #212121;
    padding: 0.2%;
}

.background_right_user form select{
    color: #212121;
    background: #FFAB00;
}

.background_right_user form button{
    margin-left: 2%;
    background: #FFAB00;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
    padding: 1%
}

/*  icono usuario*/
.navegacion{
    width: 50px;  
}

.navegacion ul{
    list-style: none;
   text-align: right;
   float: left;

}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    text-decoration: none;
}

.submenu{
    position: absolute;
    background: black;
    display: none;
    padding: 5px;
}

.submenu li a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    text-align: left;
    width: 150px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    padding: 6px;
}

.menu li:hover .submenu{
    display:block;
    
}
.submenu li:hover{
    background: orange;
}

/* fin icono usuario */




#nav_user{
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: lighter;
    color: aliceblue;
    font-weight: bold;
   
}

#nav_user ul li:hover{
    background:orange;
    
}

#nav_user > ul{
    text-align: center;
}

#nav_user > ul > li{
    list-style: none;
    display: list-item;
    padding: 1.5%;
    margin-left: -4%;
   
}

#nav_user > ul > li > a{
    color: #E1F5FE;
    text-decoration: none;
}



.seccion_buscar{
    background: #008f95;
    border-radius: 0.5em;
    padding: 1%;
}

.background_menu_user h3{
    color: #E1F5FE;
    text-align: center;
    padding-left: 1.5%;
}

.input_buscar{
    border-radius: 0.5em;
    color: black;
}

.botton_buscar{
    margin-left: 2%;
    background: #FFAB00;
    border-radius: 0.5em;
    border: none;
    font-weight: bold;
    padding: 1%
}

.aportes{
    padding: 1%;
    width: 31%;
}
.aportes_box{
    background: #CC505C;
    padding: 0.5%;
    margin: 1%;
}

.aportes_box p{
    margin-left: 1%;
    font-family: 'Ubuntu Mono', monospace;
    font-style: normal;
    font-weight: lighter;
    color: aliceblue;
    font-weight: bold;
}

.paginacion{
    background: #CC505C;
}

/*.paginacion > a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    padding: 1%;
    text-align: center;
}*/
.paginacion_botones{
    
    background: #FFAB00;
    
    padding: 1%;
    text-align: center;
}
.paginacion_botones > a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    padding: 1%;
}

.padding{
    padding: 5%;
}

.padding button{
    background: #FFAB00;
    text-align: center;
    color: black;
    width: 150%;
}