.supermenu >  .menusuario > ul{

 float: right;
}



.supermenu > .menusuario > li{

   position: relative;
    display: inline-block;

}

.supermenu > .menusuario >li >a{
    display: block;
}

.supermenu > .menusuario >li > a> img{

    float: right;
}

.supermenu > .submenu{
    position: absolute;
    background: black;
}

.supermenu > .submenu > li >a{
     display: block;
     color: white;
     text-decoration: none;
}

.supermenu > .menusuario >li:hover .submenu{
    display: block;
}
