{% load static %}
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilonav_pie.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_user.css' %}">
</head>

<body>
    <div class="container">
        <header class="row">
            <div class="col-xs-12 col-lg-12 center-xs">

                <!--<nav class="navegacion">
                    <ul class="menu">
                        <li><a href="#"><img src="{% static 'imagenes/usuario.svg' %}" alt="user" height="50"
                                    width="50"></a>
                            <ul class="submenu">

                                <li><a href="{% url 'preferencias' %}">agregar preferencias</a></li>
                                <li><a href="#">editar perfil</a></li>

                            </ul>
                        </li>
                    </ul>
                </nav>-->

                <div class="header">
                    {% for logo in logo %}
                    <img src="{{ logo.imagen.url }}" alt="{{ logo.descripcion }}">
                    {% endfor %}
                    <div>
                    </div>
                </div>
            </div>
        </header>

        <nav class="row">
            <div class="backgroundnav col-xs-12">
                {% include "torpedopage/menubar.html" %}
            </div>
        </nav>

        <div class="row">
            <div class="seccion_buscar col-xs-12 center-xs">
                <form action="#" method="GET">
                    <input class="input_buscar" type="search">
                    <button class="botton_buscar" type="submit">Buscar Torpedo</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="background_menu_user col-xs-12 col-lg-3 first-md">
                <h3>Hey, bienvenido {{ user.username | upper }}</h3>
                <nav id="nav_user">
                    <ul>
                        <li>
                            <a href="{% url 'agregartorpedo' %}">Agregar torpedo</a>
                        </li>
                        <li>
                            <a href="{% url 'mis_aportes' %}">Mis aportes</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="background_right_user col-xs-12 col-lg-9">
                <div class="box">
                    {% block agregartorpedos %}
                    {% endblock %}
                    <div class="row">
                        {% block vertorpedos %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% include "torpedopage/redes_sociales.html" %}
        </div>

        <!--Footer-->
        <footer class="row">
            {% include "torpedopage/footer.html" %}
        </footer>
    </div>
</body>

</html>