{% load static %}
<html>
<!--Template base para actividades de los usuario (buscar, agregar y ver torpedos)-->

<head>
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilonav_pie.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_user.css' %}">
</head>

<body>
    <div class="container">
        <header class="row">
            <div class="col-xs-12 col-lg-12 center-xs">

                <div class="header">
                    {% include "torpedopage/logo.html" %}
                    <div>
                    </div>
                </div>
            </div>
        </header>

        <nav class="row">
            <div class="backgroundnav col-xs-12">
                {% include "torpedopage/menubar.html" %}
            </div>
        </nav>

        <div class="row">

        </div>

        <div class="row">
            <div class="background_menu_user col-xs-12 col-lg-3 first-md">
                <!--box que contiene la imagen del menu de usuarios que tanto le costo hacer a Fabrizio (y no quité)-->
                <div class="box col-xs-1 first-xs">
                    <div class="row">
                        <nav class="navegacion">
                            <ul class="menu">
                                <li><a href="#"><img src="{% static 'imagenes/usuario.svg' %}" alt="user" height="50"
                                            width="50"></a>
                                    <ul class="submenu">z
                                        <!--<li><a href="#">agregar preferencias</a></li>-->
                                        <li><a href="{% url 'password_change' %}">Cambiar Contraseña</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <h3>Hey, bienvenido {{ user.username | upper }}</h3>

                <nav id="nav_user">
                    <ul>
                        <li>
                            <a href="{% url 'buscar_torpedo' %}">Buscar torpedo</a>
                        </li>
                        <li>
                            <a href="{% url 'agregartorpedo' %}">Agregar torpedo</a>
                        </li>
                        <li>
                            <a href="{% url 'mis_aportes' %}">Mis aportes</a>
                        </li>
                        <!--<li>
                            <a href="{% url 'password_change' %}">Cambiar Contraseña</a>
                        </li>-->
                    </ul>
                </nav>
            </div>

            <div class="background_right_user col-xs-12 col-lg-9">
                <div class="box">
                    <div class="aportes_box">
                        {% block buscar_torpedo %}
                        {% endblock %}
                        {% block titulo_aportes %}
                        {% endblock %}
                    </div>
                </div>
                {% block titulo_block %}
                {% endblock %}
                <div class="box">
                    {% block agregartorpedos %}
                    {% endblock %}
                    <div class="row">
                        {% block vertorpedos %}
                        {% endblock %}

                        {% block encontrados %}
                        {% endblock %}
                    </div>
                </div>
                <div class="box">
                    <!--Botones paginación mis_aportes-->
                    {% if torpedos %}
                    <div class="row">
                        <div class=" paginacion col-xs-6">
                            {% if torpedos.has_previous %}
                            <div class="paginacion_botones">
                                <a href="?page={{ torpedos.previous_page_number }}">Anterior</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="paginacion col-xs-6">
                            {% if torpedos.has_next %}
                            <div class="paginacion_botones">
                                <a href="?page={{ torpedos.next_page_number }}">Siguiente</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <!--Botones paginación buscar_torpedos-->
                    {% if torpedos_encontrados %}
                    <div class="row">
                        <div class=" paginacion col-xs-6">
                            {% if torpedos_encontrados.has_previous %}
                            <div class="paginacion_botones">
                                <a href="?page={{ torpedos_encontrados.previous_page_number }}&{{parametros.urlencode}}">Anterior</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="paginacion col-xs-6">
                            {% if torpedos_encontrados.has_next %}
                            <div class="paginacion_botones">
                                <a href="?page={{ torpedos_encontrados.next_page_number }}&{{parametros.urlencode}}">Siguiente</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            {% include "torpedopage/redes_sociales.html" %}
        </div>

        <!--Footer-->
        <footer class="row">
            {% include "torpedopage/footer.html" %}
        </footer>
    </div>
</body>

</html>