{% extends 'torpedopage/base_user.html' %}

{% block buscar_torpedo %}
<div class="seccion_buscar col-xs-12 center-xs">
    <form action="" method="GET">{% csrf_token %}
        <input class="input_buscar" type="search" value="{{request.GET.q}}" name="q" placeholder="Buscar torpedos" maxlength="100">
        <button name="submit" class="botton_buscar" type="submit" value="Search">Buscar Torpedo</button>
    </form>
</div>
{% endblock %}



{% block encontrados %}

{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if torpedos_encontrados %}
{% for torpedos_encontrados in torpedos_encontrados %}
<div class="aportes">
    <div class="aportes_box">
        <h2>{{ torpedos_encontrados.titulo }}</h2>
        <!--<p>Fecha de Creación: {{ torpedos.fecha_creacion }}</p>-->
        <p>Materia: {{ torpedos_encontrados.materia }}</p>
        <p>Likes: {{ torpedos_encontrados.like }}</p>
        <form action="{{ torpedos_encontrados.documento.url }}">
            <input type="submit" value="Descargar" />
        </form>
    </div>
</div>
{% endfor %}

{% else %}
    <h2 class="col-xs-12">No se encontraron torpedos :(</h2>
{% endif %}
{% endif %}

{% endblock %}



{% block titulo_block %}
{% if submitbutton == 'Search' and request.GET.q != '' %}
<h2>Resultados búsqueda:</h2>
{% else %}
<h2>Aquí van tus Resultados!</h2>
<h2>Así que ve e ingresa algo para que podamos hacer nuestra magia</h2>
{% endif %}
{% endblock %}