{% extends 'torpedopage/base_user.html' %}

{% block buscar_torpedo %}
<!--Formulario de busqueda de torpedos-->
<div class="seccion_buscar col-xs-12 center-xs">
    <form method="GET">
        <input class="input_buscar" type="search" value="{{request.GET.q}}" name="q" placeholder="Buscar torpedos" maxlength="100">
        <button name="submit" class="botton_buscar" type="submit" value="Search">Buscar Torpedo</button>
    </form>
</div>
{% endblock %}



{% block encontrados %}
<!--Template de los torpedos encontrados al buscar-->
{% if submitbutton == 'Search' and request.GET.q != '' %} <!--Se asegura de que se ha presionado el boton del formulario de busqueda y que esta no retornó vacío-->
{% if torpedos_encontrados %}
{% for torpedos_encontrados in torpedos_encontrados %}
<div class="aportes">
    <div class="aportes_box">
        <h2>{{ torpedos_encontrados.titulo }}</h2>
        <p>{{ torpedos_encontrados.descripcion }}</p>
        <!--<p>Fecha de Creación: {{ torpedos.fecha_creacion }}</p>-->
        <p>Materia: {{ torpedos_encontrados.materia }}</p>
        <p>Likes: {{ torpedos_encontrados.like }}</p>
        <form action="{{ torpedos_encontrados.documento.url }}">
            <input class="botton_buscar" type="submit" value="Descargar" />
        </form>
    </div>
</div>
{% endfor %}

{% else %}
    <!--Se muestra cuando no se encontraron torpedos en la busqueda-->
    <h2 class="col-xs-12">No se encontraron torpedos :(</h2>
{% endif %}
{% endif %}

{% endblock %}



{% block titulo_block %}
{% if submitbutton == 'Search' and request.GET.q != '' %}<!--Se asegura de que se ha realizado por lo menos una búsqueda al llamar la vista-->
<h2>Resultados búsqueda:</h2>
{% else %}
<!--El mensaje que se muestra antes de realizar cualquier búsqueda de torpedos-->
<h2>Aquí van tus Resultados!</h2> 
<h2>Así que ve e ingresa algo para que podamos hacer nuestra magia</h2>
{% endif %}
{% endblock %}