{% extends 'torpedopage/base_user.html' %}

{% block vertorpedos %}
{% if torpedos %}
{% for torpedos in torpedos %}
<!--Muestra los archivos (torpedos) que el usuario ha subido-->
<div class="aportes">
    <div class="aportes_box">
        <h2>{{ torpedos.titulo }}</h2>
        <p>{{ torpedos.descripcion }}</p>
        <!--<p>Fecha de Creación: {{ torpedos.fecha_creacion }}</p>-->
        <p>Materia: {{ torpedos.materia }}</p>
        <p>Likes: {{ torpedos.like }}</p>
        <!--Descargar, Editar, Borrar-->
        <div>
            <form action="{{ torpedos.documento.url }}">
                <button type="submit">Descargar</button>
            </form>
        </div>
        <div class="row col-xs-12 center-xs">
            <div class="padding">
                <form action="/editar_torpedo/{{ torpedos.id }}">
                    <button type="submit">Editar</button>
                </form>
            </div>

            <div class="padding">
                <form action="" method="POST">{% csrf_token %}
                    <input type="hidden" name="id" value="{{ torpedos.id }}" />
                    <button type="submit"
                        onclick="return confirm('¿Deseas borrar el torpedo {{ torpedos.titulo }}?');">Borrar</button>
                </form>
            </div>

        </div>

        <!--<a href="/editar_torpedo/{{ torpedos.id }}">Editar</a>-->
    </div>
</div>

{% endfor %}
{% else %}
<!--En caso de que el usuario no tenga archivos (torpedos) agregados-->
<div class="col-xs-12">
    <h3>Why?!!! Why?!!!</h3>
    <p>Si no sabes cómo, bueno, solo ve al apartado Agregar torpedo y llena los campos, ¡es muuuuuyyy fácil!</p>
</div>
{% endif %}
{% endblock %}


{% block titulo_aportes %}
{% if torpedos %}
<h2>Tus Aportes!!!</h2>
{% else %}
<h2>No haz realizado aportes!!!</h2>
{% endif %}
{% endblock %}