{% extends "torpedopage/base_pass.html" %}

{% block titulo %}Reset Contraseña{% endblock %}

{%block pass_reset_form %}
<P>Ingresa el correo para enviarte las instrucciones de recuperacion de contraseña</P>

<form action="" method="POST">
    <div>
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    {{ form.email.errors }}
    <p><label for="id_email">Dirección de correo electrónico:</label></p> {{ form.email }}
    <br>
    <p><input type="submit" value="Recuperar contraseña"></p>
</form>
{% endblock %}